{% extends "prescription/base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <!-- All Patient details card-->
        <div class="card mx-auto">
            <div class="card-header">
                Medicine
            </div>
            <div class="card-body">
                <p>You may have: <b>{{disease_identified}}</b></p>
                <h5>Prescription</h5>
                <p>You can treat with: <b>{{medicine}}</b></p>
                <p>Dosage: <b>{{dosage}}</b> times in a day</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
